body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto', sans-serif;
}
/* Header */
.logo {
  color: #000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.logo-blue {
  color: #2196f3;
}

.nav-list a {
  color: #212121;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.nav-list a:hover {
  color: #2196f3;
}

.contacts-list a {
  color: #757575;
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: #2196f3;
}

/* Main */

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.title-button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.title {
  color: #212121;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.subtitle {
  color: #212121;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.desc {
  color: #757575;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 24px;
}

.team {
  background-color: #f5f4fa;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.address-link {
  color: #ffffff;
}

.address-link-contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.menu-button {
  color: #212121;
  background-color: #f5f4fa;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.menu-button:hover,
.menu-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Цвет заголовка hero-title #FFFFFF */
/* цвет основного текста title, subtitle #212121 */
/* цвет вторичного desc текста #757575 */
/* акцент #2196F3 */
/* цвет фона #FFFFFF */
/* вторичный цвет фона темный #2F303A */
/* вторичный цвет фона светлый #F5F4FA */
/* цвет логотипа #2196F3 #000000 */
/* шрифт логотипа ralivay */
/* шрифт текста roboto */
/* футер контакты color: rgba(255, 255, 255, 0.6); */
